{% extends "base.html.j2" %}
{% block head %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/fr.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-6">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h4>Meter list</h4>
      </li>
      {% for meter in meters %}
      <li class="list-group-item d-flex justify-content-between">
        <span>
          <span class="font-weight-bolder font-italic">#</span>
          <a href="{{ url_for('view', meter_id=meter.id) }}">{{meter.name}}</a>
        </span>
        <button id="btn-modal-delete-meter" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" data-link="{{ url_for('delete_meter', meter_id=meter.id) }}"><span class="font-weight-bolder">X</span></button>
      </li>
      {% endfor %}
      <li class="list-group-item">
        <h4>Add a new meter</h4>
        <form class="form d-flex justify-content-between" action="{{ url_for('meter') }}" method="POST">
          <input class="form-control" id="name" name="name" type="text" placeholder="Meter name">
          <button class="btn btn-primary btn-sm" type="submit">Create</button>
        </form>
      </li>
    </ul>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete this meter, and all its content ?</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a href="#" type="button" id="confirm-modal" class="btn btn-danger">Yes</a>
      </div>
    </div>
  </div>
</div>

<script>
  $('#deleteModal').on('show.bs.modal', function (e) {
    document.getElementById('confirm-modal').href = e.relatedTarget.dataset.link;
  });

  $('#deleteModal').on('hide.bs.modal', function (e) {
    document.getElementById('confirm-modal').href = '#';
  });
</script>
{% endblock %}
