{% extends "base.html.j2" %}
{% block head %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/fr.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-4">
    <ul class="list-group">
      {% for meter in meters %}
      <li class="list-group-item d-flex justify-content-between">
        <a href="{{ url_for('graph', meter_id=meter._id) }}">{{meter.name}}</a>
        <button id="btn-modal" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#deleteModal" data-link={{ url_for('delete_meter', id=meter._id) }}>-</button>
      </li>
      {% endfor %}
      <li class="list-group-item">
        <form class="form-inline d-flex justify-content-between" action="{{ url_for('meter') }}" method="POST">
          <input class="form-control" id="name" name="name" type="text" placeholder="Name">
          <button class="btn btn-primary btn-sm" type="submit">Create</button>
        </form>
      </li>
    </ul>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete this meter, and all its content ?</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a id="confirm-modal" class="btn btn-danger" href="#">Yes</a>
      </div>
    </div>
  </div>
</div>

<script>
  const btn = document.getElementById('btn-modal');
  btn.onclick = function(e) {
    const confirm = document.getElementById('confirm-modal');
    confirm.href = e.target.dataset.link;
  };
</script>
{% endblock %}
