{% extends "base.html.j2" %}
{% block content %}
  <!-- Upload .csv -->
  <form action="{{ url_for('import_csv', meter_id=meter_id) }}" enctype="multipart/form-data" method="POST">
    <input name="file" type="file" accept="text/csv">
    <input type="submit" value="Import">
  </form>
  <!-- List -->
  <div class="row" style="height: calc(100vh - 100px); overflow: scroll">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Date</th>
          <th>Reading (KWh)</th>
          <th>Consumption (KWh / day)</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <form action="{{ url_for('post_journal', meter_id=meter_id) }}" method="POST">
            <th>
              <input class="form-control" id="date" name="date" type="date" placeholder="Date">
            </th>
            <th><input class="form-control" id="value" name="value" type="text" placeholder="Value"></th>
            <th></th>
            <th><button class="btn btn-primary btn-sm" type="submit">Add</button></th>
          </form>
        </tr>

        {% for mr in journal_obj %}
          <tr>
            <th>{{mr.date}}</th>
            <th>{{mr.value}}</th>
            <th>{{mr.mean_consumption_per_day}}</th>
            <th><a class="btn btn-danger btn-sm" href="{{ url_for('delete_mr', id=mr._id) }}">X</a></th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
    document.getElementById('date').valueAsDate = new Date();
  </script>
{% endblock %}
