<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">Period mean</th>
      <th scope="col">Date</th>
      <th scope="col">Index</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for index in model.entries|reverse %}
        <tr>
          <td>{{ index.mean_consumption_per_day }}</td>
          <td>{{ index.date }}</td>
          <td>{{ index.value }}</td>
          <td>
            <form action="{{ url_for('view.delete_index', meter_id=model.meter_id) }}" method="POST">
              <input type="hidden" name="index-id" value="{{ index.id }}">
              <button type="submit" class="btn btn-sm btn-danger">X</button>
            </form>
          </td>
        </tr>
    {% endfor %}
  </tbody>
</table>