{% extends "base.html.j2" %}
{% block content %}
  <div class="row justify-content-center mt-3">
    <form action="{{ url_for('login') }}" method="POST">
      <input class="form-control mb-1" name="user" type="text" placeholder="Username">
      <input class="form-control mb-1" name="password" type="password" placeholder="Password">
      <button class="btn btn-primary btn-sm" type="submit">Login</button>
    </form>
  </div>
{% endblock %}
