{% extends "base.html.j2" %}
{% block content %}
  {% include 'template-graph.html.j2' %}
  {% include 'template-list.html.j2' %}
  {#
  {% include 'template-add.html.j2' %}
  {% include 'template-upload.html.j2' %}
  #}
  <div id="view"></div>
  <script src="/static/apiCall.js"></script>
  <script>
    const node = document.getElementById("view");
    let data = null;

    fetchData({{meter_id}})
      .then((resp) => {
        data = resp;
        let hash = location.hash;
        if (hash == "") hash = "#graph";
        switchView(hash, node, resp);
      });

      function switchView(viewType, node, data) {
        node.innerHTML = "";
        switch (viewType) {
          case "#list":
            const listView = new ListView(data);
            node.appendChild(listView);
            break;
          case "#graph":
            const graphView = new GraphView(data);
            node.appendChild(graphView);
            break;
        }
      }

      window.onhashchange = function(resp) { 
        const hash = location.hash;
        switchView(hash, node, data);
      }
  </script>
{% endblock %}